<div class="widget list-widget pr-highlights">
  <div class="row collapse">
    <h6 class="widget-header twelve columns">
      PR Highlights
    </h6>

    <div class="row collapse widget-body">
      <div class="row collapse">
        <div class="two mobile-one columns">
          <img src="http://placehold.it/46x40">
        </div>
        
        <div class="nine mobile-three columns">
          <p>Article Title: Subhead consisting of about eight to ten words</p>
        </div>
      </div>

      <div class="row collapse">
        <div class="two mobile-one columns">
          <img src="http://placehold.it/46x40">
        </div>
        
        <div class="nine mobile-three columns">
          <p>Article Title: Subhead consisting of about eight to ten words</p>
        </div>
      </div>

      <div class="row collapse">
        <div class="two mobile-one columns">
          <img src="http://placehold.it/46x40">
        </div>
        
        <div class="nine mobile-three columns">
          <p>Article Title: Subhead consisting of about eight to ten words</p>
        </div>
      </div>

      <div class="row collapse">
        <div class="two mobile-one columns">
          <img src="http://placehold.it/46x40">
        </div>
        
        <div class="nine mobile-three columns">
          <p>Article Title: Subhead consisting of about eight to ten words</p>
        </div>
      </div>
    </div>


  </div>
</div> <!-- end widget -->