<div class="widget content-article row">
    <div class="twelve columns">
        <h3>
            <a href="#">Article Title</a>
        </h3>
    </div>

    <div class="twelve columns">
        <span class="article-image-right">
            <%= image_tag "pawn3.png" %>
        </span>

        <p>While your item is in pawn, you still own it. Your item is safely stored until you come back to pay your pawn loan in full and claim your merchandise. When you give us an item of collateral for pawn, we keep all accessories (remote controls, cables, etc.) with your item, and place it in our secure facility in an area designated by your pawn loan number. All Cash America shops are fully insured for the total loan value of the collateral we keep.</p>

        <p>Our coworkers are professionals who are trained in all aspects of the pawn industry, including extensive education on the products we receive and sell. They are required to complete several continuing education courses each year, and attend additional educational courses each quarter as new products/services are implemented in our pawnshops. Cash America coworkers take pride in their work and it shows—from their consistent dress code to the way they greet customers and confidently handle pawn transactions—they are professionals who are ready to help.</p>

        <p>Our pawnshops are routinely audited by an Internal Audit & Security Department, and work closely with local law enforcement officials.
        </p>
    </div>
</div>