<div class="widget features-widget service_spotlight row">
  <div class="twelve columns">
    <h6 class="widget-header">
      We Also Provide These Great Services
    </h6>

    <ul class="widget-body block-grid four-up mobile-two-up">
      <li>      
        <div class="service-item">
            <%= image_tag "pawn3.png", {width: 75} %>
            <p class="caption"><a href="#">Pawn Loans</a></p>
          </div>
      </li>
      
      <li>
        <div class="service-item">
          <%= image_tag "auto-equity.png", {width: 75}  %>
          <p class="caption"><a href="#">Auto Equity Loans</a></p>
        </div>
      </li>
      
      <li>
        <div class="service-item">
          <%= image_tag "cash-advances.png", {width: 75} %>
          <p class="caption"><a href="#">Cash Advances</a></p>
        </div>
      </li>
      
      <li>
        <div class="service-item">
          <%= image_tag "retail-services.png", {width: 75} %>
          <p class="caption"><a href="#">Retail Services</a></p>
        </div>
      </li>
    </ul>
    <div class="widget-footer">
      <p class="caption"><a href="#">View all of our services</a></p>
    </div>
  </div>
    
</div>