<div class="widget financial-tools row ">
  <div class="twelve columns">
    <h5 class="widget-header  ">
      Financial Planning Tools
    </h5>
  </div>
    
  <div class="widget-body twelve columns">
    <div class="list-widget-item row">
<!--       <div class="nine mobile-four columns offset-by-three"><p class="lead">Take control of your finances with our budget worksheet</p></div> -->

      <div class="three mobile-one columns">
        <!-- <img src="http://placehold.it/160x160"> -->
        <%= image_tag "budget.png" %>
      </div>
      
      <div class="nine mobile-three columns">
        <p class="lead">Take control of your finances with our budget worksheet</p>
        <p>For many of us, budgeting is difficult to do. We struggle to make ends meet, but never seem to make enough progress to reach financial independence. This worksheet is designed to help you gain control of your finances and features an easy five-step system to create a budget that you can live with.</p>
        
        <a href="#" class="button">Create a budget</a>
      </div>
    </div>
    <hr/>
    <div class="list-widget-item row">
<!--       <div class="nine mobile-four columns offset-by-three"><p class="lead">Learn to manage your money with our financial education program</p></div> -->

      <div class="three mobile-one columns">
        <!-- <img src="http://placehold.it/160x160"> -->
        <%= image_tag "financial-education.png" %>
      </div>
      
      <div class="nine mobile-three columns">
        <p class="lead">Learn to manage your money with our financial education program</p>
        <p>Cash America is committed to financial education and consistently work to educate customers, coworkers and communities about money management.</p>

        <p>
        Visit the Financial Education Program websites to 
        view videos, read articles and utilize other tools on the websites to learn how to easily manage your money.</p>
        
        <a href="#" class="button">Start Learning</a>
      </div>
    </div>
  </div>
</div>