<div class="widget service_spotlight">
  <div class="row collapse">
    <h6 class="widget-header twelve columns">
      We Also Provide These Great Services
    </h6>

    <ul class="widget-body block-grid four-up mobile-two-up">
      <li>      
        <div class="">
            <img src="http://placehold.it/150x65">
            <p class="caption"><a href="#">Pawn Loans</a></p>
          </div>
      </li>
      
      <li>
        <div class="">
          <img src="http://placehold.it/150x65">
          <p class="caption"><a href="#">Pawn Loans</a></p>
        </div>
      </li>
      
      <li>
        <div class="">
          <img src="http://placehold.it/150x65">
          <p class="caption"><a href="#">Pawn Loans</a></p>
        </div>
      </li>
      
      <li>
        <div class="">
          <img src="http://placehold.it/150x65">
          <p class="caption"><a href="#">Pawn Loans</a></p>
        </div>
      </li>
    </ul>

    <div class="widget-footer">
      <p class="caption"><a href="#">View all of our services</a></p>
    </div>
  </div>
</div>