
<div class="widget list-widget pr-highlights row ">
  <div class="twelve columns">
    <h6 class="widget-header  ">
      PR Highlights
    </h6>
  </div>
    
  <div class="widget-body twelve columns">
    <div class="list-widget-item row">
      <div class="three mobile-one columns">
        <img src="http://placehold.it/160x160">
      </div>
      
      <div class="nine mobile-three columns">
        <p>Article Title: Subhead consisting of about eight to ten words</p>
      </div>
    </div>

    <div class="list-widget-item row">
      <div class="three mobile-one columns">
        <img src="http://placehold.it/160x160">
      </div>
      
      <div class="nine mobile-three columns">
        <p>Article Title: Subhead consisting of about eight to ten words</p>
      </div>
    </div>

    <div class="list-widget-item row">
      <div class="three mobile-one columns">
        <img src="http://placehold.it/160x160">
      </div>
      
      <div class="nine mobile-three columns">
        <p>Article Title: Subhead consisting of about eight to ten words</p>
      </div>
    </div>
  </div>
</div>