    <section class="widget store-locator row">
      <div class="twelve columns">
        <h1 class="widget-header">
          <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span><a href="" class="text">Find a Store Near You</a>
        </h1>

        <div class="row  collapse widget-body">
          <div class="nine mobile-three columns">
            <input type="text" placeholder="Zip or City and State"/>
          </div>
          
          <div class="two mobile-one columns">
            <a href="<%= casham_store_locator_simple_path %>" class="button expand postfix radius submit">Go</a>
          </div>
        </div>
      </div>
    </section> <!-- end widget -->