


<!-- <li class="your-store">
    <div class="local-store">
      <div class="control">
        <a>
            <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> </a>
      </div>
      <address class="address">
        <div class="label">Your Store:</div>
        <div class="brand">Cash America</div>
        <div class="street">1234 css rocks :)</div>
      </address>
    </div>
</li> -->


<!-- <div class="your-store-dropdown">
    <div class="your-store more-information">
        <div class="local-store">
            <div class="control">
                <a>
                  <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> 
                </a>
            </div>
              <address class="full-address">
                <div class="label">Your Store:</div>
                <div class="brand">Cash America - #12345</div>
                <div class="street">Street Address</div>
                <div class="street">City State Zip</div>
                <div class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></div>
              </address>
        </div>
        <hr>
        <div class="store-hours">
            <ul>
                <% for i in 1...7 %>
                <li>
                    <span>
                        Day
                    </span>
                    <span>
                        88:88pm - 88:88pm
                    </span>
                </li>
                <% end %>
            </ul>
        </div>
    </div>

    <div class="nearest-stores store-address-list">
        <address class="result-item">
            <ul class="address">
                <li class="store"><span>#. </span> Brand - Store Number</li>
                <li class="street">Street Addresss NW 7th</li>
                <li class="province">Ft Worth, Tx 75000</li>
                <li class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></li>
                <li class="dir">
                    <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span>
                    <a href="">Make My Store</a>
                </li>
            </ul>
        </address>
        <address class="result-item">
            <ul class="address">
                <li class="store"><span>#. </span> Brand - Store Number</li>
                <li class="street">Street Addresss NW 7th</li>
                <li class="province">Ft Worth, Tx 75000</li>
                <li class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></li>
                <li class="dir">
                    <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span>
                    <a href="">Make My Store</a>
                </li>
            </ul>
        </address>
        <address class="result-item">
            <ul class="address">
                <li class="store"><span>#. </span> Brand - Store Number</li>
                <li class="street">Street Addresss NW 7th</li>
                <li class="province">Ft Worth, Tx 75000</li>
                <li class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></li>
                <li class="dir">
                    <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span>
                    <a href="">Make My Store</a>
                </li>
            </ul>
        </address>
    </div>
</div> -->

<div class="your-store-dropdown">
    <div class="local-store">
        <div class="control">
          <a>
              <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> </a>
        </div>
        <address class="store-address full-address">
            <ul>
              <li class="small-label">Your Store:</li>
              <li class="store">Cash America</li>
              <li class="street">1234 Street Address</li>
              <li class="province">Farmington, CT 12345</li>
              <li class="tel">Phone:<a href="tel:408-867-5309">408-867-5309</a> </li>
            </ul>
        </address>
        <div class="divider"></div>
        <div class="store-hours">

<!--             Store Hours
            <ul>
                <% for i in 1...7 %>
                <li>
                    <span>
                        Day
                    </span>
                    <span>
                        88:88pm - 88:88pm
                    </span>
                </li>
                <% end %>
            </ul> -->
            <span>Store Hours</span>
            <table>
                <%# for i in 1...7 %>
                <% ['Mon', 'Tues', 'Wed','Thurs','Fri','Sat','Sun'].each do |day| %>
                <tr>
                    <td class="day">
                        <%= day %>
                    </td>
                    <td class="hours">
                        88:88am - 88:88pm
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
    </div>
    <div class="options">
        <ul>
            <li><a>Show on Map</a></li>
            <li><a>View Store's Website</a></li>
            <li><a>Change Your Store</a></li>
        </ul>
    </div>
    <div class="store-address-list">
        <% for i in 1...5 %>
        <address class="store-address">
            <ul>
                <li class="store">
                    <span><%= i %>. </span> Brand - Store Number
                </li>

                <li class="street">
                    Street Addresss NW 7th
                </li>

                <li class="province">
                    Ft Worth, Tx 75000
                </li>

                <li class="tel">
                    Phone:<a href="tel:408-867-5309">408-867-5309</a>
                </li>

<!--                 <li class="local-page">
                    <span aria-hidden="true" data-icon="&#xe043;" class="icon icon-globe"></span>
                    <a href="">View Store's Website</a>
                </li>
 -->            </ul>
        </address>
        <% end %>
    </div>
</div>


