<style>
    .your-store-dropdown{
        display: none;
        position: absolute;
        width: 200px;
        background-color: #666;
        min-height: 400px;
        z-index: 100;
    }
    .your-store-dropdown.active{
        display: block;
    }


</style>


<!-- <li class="your-store">
    <div class="local-store">
      <div class="control">
        <a>
            <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> </a>
      </div>
      <address class="address">
        <div class="label">Your Store:</div>
        <div class="brand">Cash America</div>
        <div class="street">1234 css rocks :)</div>
      </address>
    </div>
</li> -->


<div class="your-store-dropdown">
    <div class="your-store more-information">
        <div class="local-store">
            <div class="control">
                <a>
                  <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> 
                </a>
            </div>
              <address class="full-address">
                <div class="label">Your Store:</div>
                <div class="brand">Cash America - #12345</div>
                <div class="street">Street Address</div>
                <div class="street">City State Zip</div>
                <div class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></div>
              </address>

<!--             <address class="result-item">
                <ul class="full-address">
                    <li class="store"><span>#. </span> Brand - Store Number</li>
                    <li class="street">Street Addresss NW 7th</li>
                    <li class="province">Ft Worth, Tx 75000</li>
                    <li class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></li>
                    <li class="dir">
                        <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span>
                        <a href="">Get Directions</a>
                    </li>
                    <li class="local-page">
                        <span aria-hidden="true" data-icon="&#xe043;" class="icon icon-globe"></span>
                        <a href="">View Store's Website</a>
                    </li>
                </ul>
            </address> -->
        </div>
    </div>

    <div class="nearest-stores">
        <address class="result-item">
            <ul class="address">
                <li class="store"><span>#. </span> Brand - Store Number</li>
                <li class="street">Street Addresss NW 7th</li>
                <li class="province">Ft Worth, Tx 75000</li>
                <li class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></li>
                <li class="dir">
                    <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span>
                    <a href="">Make My Store</a>
                </li>
            </ul>
        </address>
        <address class="result-item">
            <ul class="address">
                <li class="store"><span>#. </span> Brand - Store Number</li>
                <li class="street">Street Addresss NW 7th</li>
                <li class="province">Ft Worth, Tx 75000</li>
                <li class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></li>
                <li class="dir">
                    <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span>
                    <a href="">Make My Store</a>
                </li>
            </ul>
        </address>
        <address class="result-item">
            <ul class="address">
                <li class="store"><span>#. </span> Brand - Store Number</li>
                <li class="street">Street Addresss NW 7th</li>
                <li class="province">Ft Worth, Tx 75000</li>
                <li class="tel">Phone: <a href="tel:408-867-5309">408-867-5309</a></li>
                <li class="dir">
                    <span aria-hidden="true" data-icon="&#xe02f;" class="icon icon-location-17-icon"></span>
                    <a href="">Make My Store</a>
                </li>
            </ul>
        </address>
    </div>


</div>


