Cash America Layouts

<ul>
	<li>
		<%=link_to "Two Column Landing", casham_tcl_path %>
	</li>

	<li>
		<%=link_to "Two Column Content", casham_tcc_path %>
	</li>

	<li>
		<%=link_to "One Column Landing", casham_ocl_path %>
	</li>

	<li>
		<%=link_to "One Column Content", casham_occ_path %>
	</li>
</ul>

