@import "compass/css3";

@import "modular-scale";

@import "components/colors";

@import "foundation/settings";

@import "foundation/mixins/all";

//@import "foundation/common/base";

//@import "foundation/components/grid";

//@import"foundation/components/modules/all";

// Media Queries Overrides
//@import "foundation/components/modules/mqueries";

.store-locator-page{
	.store-locator-search-results{
		max-height: 465px;
		overflow-y: scroll;
	}


	.prog-disclosure{
		margin: 0 0 22px 0;
		border-bottom: 1px solid $secondaryColor;

		fieldset{
			border: none;
			margin-top: 0;
			margin-bottom: 2em;
			legend{
				padding-bottom: 1em;
			}
		}

		& > div.prog-disclosure-title { 
			cursor: pointer; 
			//background: lighten($secondaryColor, 5%); 
			padding: 13px; 
			margin: 0; 
			position: relative;  
			//border-#{$defaultFloat}: 1px solid $secondaryColor; 
			//border-#{$defaultOpposite}: 1px solid $secondaryColor; 
			@include single-transition(0.15s, background, linear);

			  h1, h2, h3, h4, h5 { 
			  	margin: 0; 
			  	padding-right: 1em;
			  }

			  &:after { 
			  	@include cssTriangle(6px, darken($secondaryColor, 30%), $defaultOpposite); 
			  	position: absolute; 
			  	#{$defaultOpposite}: 15px; 
			  	top: 17px; 
			  }
		}

	    .prog-disclosure-content { 
	    	display: none; 
	    	padding: 15px; 
	    }

	    &.active { 
	    	//border-top: 3px solid $mainColor;

	      .prog-disclosure-title { 
	      	background: $white; 
	      	padding-top: 13px;

	        &:after { 
	        	@include cssTriangle(6px, darken($secondaryColor, 30%), top); 
	        }
	      }
	      .prog-disclosure-content { 
	      	background: $white; 
	      	display: block; 
	      	//border-#{$defaultFloat}: 1px solid $secondaryColor; 
	      	//border-#{$defaultOpposite}: 1px solid $secondaryColor; 
	      }
	    }
	}
}
