/* line 3, ../sass/ca_skin.scss */
body {
  background-color: #fafafa;
}

/* line 7, ../sass/ca_skin.scss */
.header, .page-hero {
  background-color: #005daa;
}

/* line 13, ../sass/ca_skin.scss */
ul.breadcrumbs a, ul.breadcrumbs span {
  color: #fafafa;
}

/* line 19, ../sass/ca_skin.scss */
.page-headline {
  color: white;
  font-weight: normal;
}

/* line 25, ../sass/ca_skin.scss */
.side-bar-container {
  background-color: white;
}
/* line 29, ../sass/ca_skin.scss */
.side-bar-container .widget h3, .side-bar-container .widget h4, .side-bar-container .widget h5, .side-bar-container .widget h6 {
  color: #d0103a;
}
/* line 35, ../sass/ca_skin.scss */
.side-bar-container .widget p {
  color: #333333;
}
/* line 38, ../sass/ca_skin.scss */
.side-bar-container .widget a {
  color: #005daa;
}
/* line 41, ../sass/ca_skin.scss */
.side-bar-container .widget .button {
  color: white;
}

/* line 48, ../sass/ca_skin.scss */
.main-body h1, .main-body h2, .main-body h3, .main-body h4, .main-body h5, .main-body h6 {
  color: #005daa;
}
/* line 54, ../sass/ca_skin.scss */
.main-body p {
  color: #333333;
}
/* line 57, ../sass/ca_skin.scss */
.main-body a {
  color: #005daa;
}
