// *********************
// Colors Settings
// *********************
// Cash America Specific Color Settings for Skins
// $caPrimaryColor: #002395;
$caPrimaryColor: #005daa;
$caSecondaryColor: #fafafa;
$caAccentColor: #D0103A;
$caSuccessColor: #006747;
$caHeroTxtColor: #333;
$caBodyTxtColor: #333;
$caHighlightColor: #fedf00;

// Cashland Color Settings
$clPrimaryColor: #002395;
$clSecondaryColor: #e9e9e9;
$clAccentColor: #D0103A;
$clSuccessColor: #006747;
$clHeroTxtColor: #333;
$clBodyTxtColor: #333;
$clHighlightColor: #fedf00;

// Superpawn Color Settings
$spPrimaryColor: #002395;
$spSecondaryColor: #e9e9e9;
$spAccentColor: #D0103A;
$spSuccessColor: #006747;
$spHeroTxtColor: #333;
$spBodyTxtColor: #333;
$spHighlightColor: #fedf00;
$black: #000;
$white: #fff;

$footerColor: #121D28;