$footerColor: #121D28;
$footerAccentColor: #D0103A;


footer{
	background-color: tint($footerColor, 5%);
	padding-top:  1.4em;
	position: relative;

	
	.button { width: auto; 
		background: $footerAccentColor; 
		border: 1px solid darken(($footerAccentColor), 15%); 
		@include box-shadow(0 1px 0 lighten($footerAccentColor, 15%) inset);
		color: $white; 
		cursor: pointer; 
		display: inline-block; 
		font-family: inherit; 
		font-size: ms(0); 
		font-weight: bold; 
		line-height: 1; 
		margin: 0; 
		padding: $btnBase ($btnBase * 2) ($btnBase + 2); 
		position: relative; 
		text-align: center; 
		text-decoration: none; 
		@include transition(all .15s ease-in-out);
		@include border-radius(5px);
	    /* Hovers */
	    &:hover, &:focus { 
	    	color: $white; 
	    	background-color: darken(($footerAccentColor), 10%); 
	    	@include box-shadow(0 1px 0 darken($footerAccentColor, 15%) inset);
	    }

	    &:active  { @include box-shadow(0 1px 0 $darkEdge inset); }

	}


	h1, h2, h3{
		color:  shade($white, 20%);
	}

	p, a, label, ul, span{
		color: shade($secondaryColor, 40%);
	}

	.icon{
		font-size: 36px;
	}

	%footer-list{
		h2{
			font-size: 1em;
			margin-top: 0;
			padding-bottom: .4em;
			border-bottom: shade($secondaryColor, 80%) 1px solid;
		}
		
		h3{
			font-size: 1em;
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: .4em;
		}

	}

	ul.link-list{
		@extend %footer-list;
		@include no-bullets;
	}

	section.brand-list-container{
		background-color: $footerColor;
		padding-top: 1em;
		padding-bottom: 1em;
		text-align: center;
	}

	ul.brand-list{
		//@extend %footer-list;
		@include inline-list;
		li{
			padding-right: 1.4em;
		}
	}

	section.compliance{
		background-color: $white;
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
	}

	ul.compliance-list{
		@extend %footer-list;
		@include delimited-list("|");
	}



	.social-links{
		padding-bottom: 1em;
		.link-list{
			@include inline-list;
		}
	}

	form.email-signup{
		background-color: tint($footerColor, 5%);
		.panel{
			@include border-radius(5px);
			padding: 1em;
			background-color: $footerColor;		
			border: none;	

			label{
				padding-bottom: 1em;
			}
		}
	}


}