@mixin button-structure{
	.button{
		cursor: pointer; 
		display: inline-block; 
		font-family: inherit; 
		font-size: ms(0); 
		font-weight: bold; 
		line-height: 1; 
		margin: 0; 
		padding: $btnBase ($btnBase * 2) ($btnBase + 2); 
		position: relative; 
		text-align: center; 
		text-decoration: none; 
		@include transition(all .15s ease-in-out);
		@include border-radius(5px);
	}
}

