@charset "UTF-8";
// Foundation Features
// =============

@import "compass";

@import "modular-scale";

@import "foundation/functions/all";

@import "foundation/settings";

@import "foundation/mixins/all";

// Media Queries Overrides
//@import "foundation/components/modules/mqueries";
@import "components/mixins";

//@import"foundation/components/modules/topbar";
//@import"foundation/components/modules/navbar";

.header{
	position: absolute;
	width: 100%;

	.header-container{
		height: $topBarHeight;
	}

	.header-shade{
		background-color: white;
		@include opacity(.2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.ca-topbar{
		background-color: transparent;
		color: #fff;
		.nav-list, .k-group{
			border: none;
			width: 50%;
			float: left;

			.nav-list-item, .k-item{
				border-right-style: none;
			}

			.nav-list-item>.k-link{
				line-height: $topBarHeight;
				margin: 0;
				padding: 0 ($columnGutter / 2);
				width: 100px;
				text-align: center;
			}
			
			&.k-header{
				width: 50%;
				float: left;
			}
		}
	}	
}

.header-control{
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;

	.local-store{
		display: block;
		vertical-align: middle;

		.control{
			line-height: $topBarHeight;
			float: left;
		}
		.address{
			float: left;
			height: $topBarHeight;
			padding-left: 1em;
			padding-top: 1em;

			.label{
				font-size: 80%;
				line-height: 1.1em;
			}
			.brand, .street{
				font-size: 14px;
				line-height: 1.2em;
			}
		}
	}
}
	

@include respondTo(smallScreen){
	.header{
		background-color: $secondaryColor;
	}
	
	
	.header-container{
		min-height: $topBarHeightMobile;
	}

	.header-shade{
		display: none;
	}

	.ca-topbar{
		.nav-list, .k-group{
			border: none;
			width: 100%;
			float: left;

			.nav-list-item, .k-item{
				border-right-style: none;
			}

			.nav-list-item>.k-link{
				line-height: $topBarHeight;
				margin: 0;
				width: 100px;
				text-align: center;
			}
			
			&.k-header{
				width: 100%;
				float: left;
			}
		}
	}	

	.header-control{
		width: 100%;

		.local-store{
			display: block;
			vertical-align: middle;

			.control{
				line-height: $topBarHeight;
				float: left;
			}
			.address{
				float: left;
				height: $topBarHeight;
				padding-left: 1em;
				padding-top: 1em;

				.label{
					font-size: 80%;
					line-height: 1.1em;
				}
				.brand, .street{
					font-size: 14px;
					line-height: 1.2em;
				}
			}
		}
	}

}



