@charset "UTF-8";
// Foundation Features
// =============

@import "compass";

@import "modular-scale";

@import "foundation/functions/all";

@import "foundation/settings";

@import "foundation/mixins/all";


@import "components/mixins";

@import"foundation/components/modules/topbar";
@import"foundation/components/modules/navbar";

// Media Queries Overrides
@import "foundation/components/modules/mqueries";
$logo-width: 15%;
$nav-width: 65%;
$your-store-width: 20%;

.header{
	position: absolute;
	width: 100%;

	.header-shade{
		background-color: white;
		@include opacity(.2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.top-bar-container{
	position: relative;
}

.top-bar ul > li.toggle-topbar{
	right: 35px;
}

.top-bar ul > li.has-dropdown a{
	padding-right: 45px;
}

.name{
	//width: $logo-width;
}

.navigation{
	//width: $nav-width;
}

.your-store{
	min-width: 200px;
	padding: 0;
	margin: 0;
	border-left: 1px solid #fff;

	.local-store{
		display: block;
		vertical-align: middle;
		
		.control a{
			padding: 0;
		}

		.control span{
			line-height: $topBarHeight;
		}
		.control{
			line-height: $topBarHeight;
			float: left;
			margin-left: 1.5em;
		}
		.address{
			float: left;
			height: $topBarHeight;
			padding-left: 1em;
			padding-top: 1em;

			.label{
				font-size: 80%;
				line-height: 1.1em;
			}
			.brand, .street{
				font-size: 14px;
				line-height: 1.2em;
			}
		}

		.full-address{
			@extend .address;
			height: auto;
			float: none;
		}
	}
}

@include respondTo(smallScreen){
	.header{
		position: relative;
		width: 100%;

		.header-shade{
			background-color: white;
			@include opacity(.2);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	.top-bar ul > li.toggle-topbar{
		right: 35px;
	}

	.top-bar ul > li.has-dropdown a{
		padding-right: 45px;
	}

	.name{
		//width: $logo-width;
	}

	.navigation{
		//width: $nav-width;
	}

	.your-store{
		//width: $your-store-width;
		//float: right;
		min-width: 200px;
		padding: 0;
		margin: 0;
		border-left: 1px solid #fff;

		.local-store{
			display: block;
			vertical-align: middle;
			
			.control a{
				padding: 0;
			}

			.control span{
				line-height: $topBarHeight;
			}
			.control{
				line-height: $topBarHeight;
				float: left;
				margin-left: 1.5em;
			}
			.address{
				float: left;
				height: $topBarHeight;
				padding-left: 1em;
				padding-top: 1em;

				.label{
					font-size: 80%;
					line-height: 1.1em;
				}
				.brand, .street{
					font-size: 14px;
					line-height: 1.2em;
				}
			}
		}
	}
}

@import "components/store_list";
/*
	.ca-topbar{
		background-color: transparent;
		color: #fff;
		height: $topBarHeight;

		.nav-list, .k-group{
			border: none;
			width: $nav-width;
			float: right;

			.nav-list-item, .k-item{
				border-right-style: none;
			}

			.nav-list-item>.k-link{
				line-height: $topBarHeight;
				margin: 0;
				padding: 0 ($columnGutter / 2);
				width: 60px;
				text-align: center;
			}
			
			&.k-header{
				width: $nav-width;
				float: right;
			}
		}
	}	
}

.logo{
	width: $logo-width;
	float: left;
	line-height: $topBarHeight;
	padding-right: 1em;

}

.header-control{
	width: $your-store-width;
	float: right;
	padding: 0;
	margin: 0;
	border-left: 1px solid #fff;

	.local-store{
		display: block;
		vertical-align: middle;


		.control{
			line-height: $topBarHeight;
			float: left;
			margin-left: .7em;
		}
		.address{
			float: left;
			height: $topBarHeight;
			padding-left: 1em;
			padding-top: 1em;

			.label{
				font-size: 80%;
				line-height: 1.1em;
			}
			.brand, .street{
				font-size: 14px;
				line-height: 1.2em;
			}
		}
	}
}
	

@include respondTo(smallScreen){
	.header{
		background-color: $secondaryColor;
	}
	
	
	.header-container{
		min-height: $topBarHeightMobile;
	}

	.header-shade{
		display: none;
	}

	.ca-topbar{
		.nav-list, .k-group{
			border: none;
			width: 100%;
			float: left;

			.nav-list-item, .k-item{
				border-right-style: none;
			}

			.nav-list-item>.k-link{
				line-height: $topBarHeight;
				margin: 0;
				width: 75px;
				text-align: center;
			}
			
			&.k-header{
				width: 100%;
				float: left;
			}
		}
	}	

	.header-control{
		width: 100%;

		.local-store{
			display: block;
			vertical-align: middle;

			.control{
				line-height: $topBarHeight;
				float: left;
			}
			.address{
				float: left;
				height: $topBarHeight;
				padding-left: 1em;
				padding-top: 1em;

				.label{
					font-size: 80%;
					line-height: 1.1em;
				}
				.brand, .street{
					font-size: 14px;
					line-height: 1.2em;
				}
			}
		}
	}

}

*/
