@charset "UTF-8";
// Foundation Features
// =============

@import "compass";

@import "modular-scale";

@import "foundation/functions/all";

@import "foundation/settings";

@import "foundation/mixins/all";

// Media Queries Overrides
//@import "foundation/components/modules/mqueries";
@import "components/mixins";

@import"foundation/components/modules/topbar";
@import"foundation/components/modules/navbar";

.header{
	position: absolute;
	width: 100%;

	.header-container{
		min-height: 75px;
	}

	.header-shade{
		background-color: white;
		@include opacity(.2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.top-bar{
		background-color: transparent;
	}

	.your-store{
		max-width: 251px;
		overflow: hidden;
		//refactor to whatever other header color is
		color: $white;
		//refactor with header variable and maths
		//padding-top: 1em;
		//padding-left: 24px;
		margin-left: 18px;
		border-left: 1px solid lightgray;
		line-height: 1.4em;
		//refactor with header variable and maths
		height: 75px;
		.title{
			font-size: .875em;
			line-height: 1em;
		}
		
		.org, .adr{
			line-height: 1.1em;
			height: 1.1em;
			overflow: hidden;
		}
		
		span,div,a{
			font-size: 13px;
			font-weight: bold;
		}
	}
	.change-store{
		padding: 0 2px;
		color: $white;
	}

	@include respondTo(smallScreen){
		background-color: white;
		
		.header-container{
			min-height: 45px;
		}

		.header-shade{
			display: none;
		}
	}
}

.header{
	.ca-topbar{
		.nav-list, .k-group{
			border: none;
			color: #fff;
			width: 50%;
			float: left;

			.nav-list-item, .k-item{
				border-right-style: none;
			}

			.nav-list-item>.k-link{
				line-height: 75px;
				margin: 0;
				padding: 0;
			}
			&.k-header{
				color: #fff;
				width: 50%;
				float: left;
			}
		}

		.loc-store{
			width: 50%;
			float: left;
			padding: 0;
			margin: 0;
			
			.title{
				color: white;
			}

			.loc-store-ul{
				display: block;
				vertical-align: middle;

				.control{
					display: list-item;
					line-height: 75px;
					float: left;
				}
				.list{
					display: list-item;
					float: left;
					height: 75px;
					padding-left: 1em;
					padding-top: 1em;
					color: white;
					.i{
						font-size: 12px;
						line-height: 1.1em;
					}
					.x{
						font-size: 14px;
						line-height: 1.2em;
					}
				}
			}
		}
	}
}

