<header class="header">
    <div class="header-shade"></div>

    <div class="row">
    
    <nav class="top-bar">
      <ul>
        <!-- Title Area -->
        <li class="name">
          <h1>
            <a href="#">
              <%= image_tag "ca_logo_200w.png", size: "160" %>
            </a>
          </h1>
        </li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>

      
    <section>
        <!-- Right Nav Section -->
        <ul class="right">
        <li class="">
          <a href="#">Pawn Loans</a>
        </li>
        <li>
          <a href="#">Auto Title</a>
        </li>
        <li class="has-dropdown">
          <a class="active" href="#">Cash Advances</a>
          <ul class="dropdown"><li class="title back js-generated" style=""><h5><a href="#">Item 1</a></h5></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Level 1</a></li>
            <li><a href="#">Level 1</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Level 1</a></li>
            <li><a href="#">Level 1</a></li>
            <li><a href="#">Level 1</a></li>
          </ul>
        </li>

        <li class="has-dropdown">
          <a class="active" href="#">Retail Services</a>
          <ul class="dropdown"><li class="title back js-generated" style=""><h5><a href="#">Item 1</a></h5></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Level 1</a></li>
            <li><a href="#">Level 1</a></li>
            <li class="divider"></li>
            <li><label>Section Name</label></li>
            <li><a href="#">Level 1</a></li>
            <li><a href="#">Level 1</a></li>
            <li><a href="#">Level 1</a></li>
          </ul>
        </li>


          <li class="your-store">
              <div class="local-store">
                <div class="control">
                  <a>
                      <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> </a>
                </div>
                <address class="address">
                  <div class="label">Your Store:</div>
                  <div class="brand">Cash America</div>
                  <div class="street">1234 css rocks :)</div>
                </address>
              </div>
          </li>
          
        </ul>
      </section>



                </nav>

</div>

<!--     <div class="header-container row">
        <div class="top-bar">
            <ul class="logo">
              <li class="name"><a href="#"><%= image_tag "ca_logo_150x31.png", :alt => "Cash America" %></a></li>
              <li class="toggle-topbar"><a href="#"></a></li>
            </ul>
            
            <section >
                <div class="right your-store hide-for-small">
                  <div class="local-store">
                    <div class="control">
                      <a>
                          <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> </a>
                    </div>
                    <address class="address">
                      <div class="label">Your Store:</div>
                      <div class="brand">Cash America</div>
                      <div class="street">1234 css rocks :)</div>
                    </address>
                  </div>
                </div>

<div class="navigation right">                <nav  title="navigation">              
                    <ul class="right">
                        <li><a href="#">Pawn Loans</a></li>
                        <li><a href="#">Auto Title Loans</a></li>
                        <li><a href="#">Cash Advances</a></li>
                        <li><a href="#">Retail Services</a></li>
                        <li><a href="#">Store Locator</a></li>
                    </ul>
                </nav></div>
            </section>
        </div>
    </div> -->




<!--     <div class="ca-topbar row">
        <div class="logo">
            <%= image_tag "ca_logo_150x31.png" %>
        </div>

        <div class="header-control">
            <div class="local-store">
              <div class="control">
                <a>
                    <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 control-icon"></span> </a>
              </div>
              <address class="address">
                <div class="label">Your Store:</div>
                <div class="brand">Cash America</div>
                <div class="street">1234 css rocks :)</div>
              </address>
            </div>
        </div>

        <nav class="main-nav">
            <ul class="nav-list" id="menu">
                <li class="nav-list-item">Item 1
                    <ul>
                        <li>Sub Item 1</li>

                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>

                <li class="nav-list-item">Item 2
                    <ul>
                        <li>Sub Item 1</li>
                        
                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>

                <li class="nav-list-item">Item 1
                    <ul>
                        <li>Sub Item 1</li>

                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>

                <li class="nav-list-item">Item 2
                    <ul>
                        <li>Sub Item 1</li>
                        
                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>

                <li class="nav-list-item">Item 1
                    <ul>
                        <li>Sub Item 1</li>

                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>

                <li class="nav-list-item">Item 2
                    <ul>
                        <li>Sub Item 1</li>
                        
                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>
            </ul>
        </nav>


    </div>


<%= javascript_tag defer: 'defer' do -%>
      $("#menu").kendoMenu({
        animation: { 
            open: { effects: "slideIn:down" }

        },
            openOnClick: true
    });
<% end -%>
 -->


</header>

<!--   <header class="main show-for-small">
  <a class="sidebar-button show-for-small" id="sidebarButton" href="#sidebar" style="margin-left:15px;"><h4>Foundation</h4></a>
</header> -->

