  <% 
  
  page_css ||= []
  css_files = ["Reset", "Layout", "casham", "structure/structure", "skins/ca_skin"].concat(page_css) 

  %>
  <head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    <title>Page Title</title>
    <!-- Included CSS Files -->

    <% css_files.each do |f| %>
    	<%= stylesheet_link_tag f.to_s %>
    <% end %>


    <%= javascript_include_tag "modernizr.foundation" %>
    <%= javascript_include_tag "application" %>
  </head>