<header class="header">
    <div class="header-shade"></div> 
    <div class="ca-topbar row">
        <nav>
            <ul class="nav-list" id="menu">
                <li class="nav-list-item">Item 1
                    <ul>
                        <li>Sub Item 1</li>

                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>

                <li class="nav-list-item">Item 2
                    <ul>
                        <li>Sub Item 1</li>
                        
                        <li>Sub Item 2</li>
                        
                        <li>Sub Item 3</li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="loc-store">
            <ul class="loc-store-ul">
              <li class="control">
                <a>
                    <span aria-hidden="true" data-icon="&#xe02c;" class="icon icon-arrow-down-2 title"></span> </a>
              </li>
              <li class="list">
                <div class="i">Your Store:</div>
                <div class="x">Cash America</div>
                <div class="x">1234 css rocks :)</div>
              </li>
        </div>
    </div>


<%= javascript_tag defer: 'defer' do -%>
      $("#menu").kendoMenu({
        animation: { open: { effects: "fadeIn" } }
    });
<% end -%>



</header>

