.header{
	position: absolute;
	width: 100%;

	.header-container{
		min-height: 75px;
	}
	.header-shade{
		background-color: white;
		@include opacity(.2);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.top-bar{
		background-color: transparent;
	}

	@include respondTo(smallScreen){
		background-color: white;
		.header-container{
			min-height: 45px;
		}
		.header-shade{
			display: hidden;
		}
	}
		
}