@import "../components/breadcrumbs";
@import "header";
@import "footer";
@import "widgets";

%two-column{
  //styles for the hero section

  .page-headline{
    font-weight: normal;
  }

  section.page-container{
    padding-bottom: 2em;
  }
  
  @include breadcrumbs;

  //styles for the side-bar section
  .side-bar{
    margin-top: -112px;
    @include border-radius(5px);
    min-height: 500px;
    background-color: #fff;

    //.side-bar-container{
      //@include border-radius(5px);
      //min-height: 500px;

      .widget{
        //padding: $columnGutter/2;
      }

    //}
  }

 
  //responsive styles
  @include respondTo(smallScreen){
    .page-headline-container{
      margin-top: 30px;
    }

    .side-bar{
      margin-top: 0;

      .side-bar-container{
        min-height: 100px;
      } 
    }
  }
}


.tcl, .ocl{
  @extend %two-column;

  .page-headline-container{
    margin-top: 212px;
  }
}

.tcc, .occ{
  @extend %two-column;
  
  .page-headline-container{
    margin-top: 140px;
  }
}


