
.side-bar {
	%widget {
		p{
			font-style: normal;
		}
		.widget-header{
			position: relative;
		}
		.widget-body{
			padding-bottom: 1em;
			border-bottom: 1px solid $secondaryColor;
		}

		@include button-structure;
		
		.button{
			font-size: 13px;
			padding: $btnBase ($btnBase + 2) ($btnBase + 2); 
		}
	}
	
	.store-locator{
		@extend %widget;
		.icon{
			position: absolute;
			top: -8px;
			font-size: 32px;
		}
		.text{
			padding-left: 2.4em;
		}
	}

	.list-widget{
		@extend %widget;

	}
	


}