%widget {
	p{
		font-style: normal;
	}
	.widget-header{
		position: relative;
	}
	.widget-body{
		padding-bottom: 1em;
		border-bottom: 1px solid $secondaryColor;
	}

	@include button-structure;
	
	.button{
		font-size: 13px;
		padding: $btnBase ($btnBase + 2) ($btnBase + 2); 
	}
}

.side-bar {
	.widget{
		@extend %widget;
	}

	.store-locator{
		@extend %widget;
		.icon{
			position: absolute;
			top: -8px;
			font-size: 32px;
		}
		.text{
			padding-left: 2.4em;
		}
	}

	.financial-tools{
		.description{
			display: none;
		}
	}


}


.main-body{
	.widget{
		@extend %widget;
		h1, h2, h3, h4, h5, h6{
		  font-size: ms(1);
		}
	}

	.article-image-right{
		float: right;
		padding-left: 15px;
		padding-bottom: 15px;
	}

	.pr-highlights{
		.widget-header{
			text-align: center;
			color: black;
			border: 1px solid $secondaryColor;
			padding: .4em inherit;
		}
	}

	.financial-tools{
		@extend .pr-highlights;
		@include respondTo(smallScreen){
			.description{
				display: none;
			}
		}
	}

	.service_spotlight{
		@extend .pr-highlights;

		.widget-body{
			text-align: center;
		}

		.caption{
			text-align: center;
			font-size: .9em;
			margin-bottom: 0;
		}

		.service-item a{
			color: $txtColor;
		}

	}

	.features-widget{
		@extend %widget;

		@include respondTo(smallScreen){
			.widget-body{
				text-align: center;
			}
		}
	}

	.list-widget{
		@extend %widget;
		.list-widget-item{
			margin-bottom: 17px;
		}
	}
}