@import "skin_mixins";

body{
  background-color: $caSecondaryColor;
}

.header, .page-hero{
    background-color: $caPrimaryColor;
}


ul.breadcrumbs{
  a, span { 
    color: $caSecondaryColor;
  }
}


.page-headline{
  color: $white;
  font-weight: normal;
}


.side-bar-container{
  background-color: $white;

  .widget{
    h3{
        color: $caAccentColor;
    } 
    h4, h5{
        @extend h3
    }         
    h6, p{
        color: $caBodyTxtColor;
    } 
    a{
        color: $caAccentColor;
    }

    @include button-color($caAccentColor, $white);

  }
}
  
.main-body{
    h1{
        color: $caPrimaryColor;
    } 
    h2, h3, h4, h5, h6{
        @extend h1
    }         
    p{
        color: $caBodyTxtColor;
    } 
    a{
        color: $caPrimaryColor;
    }
}

.footer{
  background-color: tint($caFooterColor, 5%);

  @include button-color($caAccentColor, $white);

  h1, h2, h3{
    color:  shade($white, 20%);
  }

  p, a, label, ul, span{
    color: shade($caSecondaryColor, 40%);
  }

  %footer-list{
    h2{
      border-bottom: shade($caSecondaryColor, 80%) 1px solid;
    }
  }

  ul.link-list{
    @extend %footer-list;
  }

  section.brand-list-container{
    background-color: $caFooterColor;
  }

  section.compliance{
    background-color: $white;
  }

  form.email-signup{
    background-color: tint($caFooterColor, 5%);
    
    .panel{
      background-color: $caFooterColor;   
    }
  }
}
